    <div class="panel panel-default">
      <div class="panel-heading text-center" style="color:#fff;background-color: #d90000;">
        <h3 class="panel-title">JOIN THE HERD</h3>
      </div>
      <div class="panel-body">
        <p class="text-center">We believe everyone deserves to be empowered. We believe the Internet and Bitcoin are two of the most empowering forces on the planet. Bitcoin Bulls support bitcoin by investing our time and money into building the most empowering industry since the internet. Click the green button to join us!
      </p>
        <div class="text-center">
        {% include request-signup.html param="JOIN NOW!" %}
        
        </div>

      </div>
    </div>