    <div class="panel panel-default">
      <div class="panel-heading text-center" style="color:#fff;background-color: #d90000;">
        <h3 class="panel-title">WANT MORE</h3>
      </div>
      <div class="panel-body">
        <p class="text-center">If so, please join the herd! We are a group of like-minded individuals. People who believe in bitcoin's potential to change the world. Sign up below to become a Bull and receive a free copy of my eBook, How I will Retire In Two Years By Investing In Bitcoin! Click the green button to join us!
        <div class="text-center">
        {% include request-signup.html param="JOIN NOW!" %}
      </div>

      </p>
      </div>
    </div>