<div class="panel panel-default">
      <div class="panel-heading text-center" style="color:#fff;background-color: #d90000;">
        <h3 class="panel-title">BE THE FIRST TO KNOW WHERE I'M INVESTING</h3>
      </div>
      <div class="panel-body">
        <p class="text-center">I don't want my bitcoins sitting idle if they can be earning. To be the first to know what I'm doing click the green button to join my mailing list!
      </p>
        <div class="text-center">
        {% include request-signup.html param="CLICK HERE TO SUBSCRIBE" %}
        </div>

      </div>
</div>