{% if myModal != 'included' %}
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
            <!-- Begin MailChimp Signup Form -->
            <link href="//cdn-images.mailchimp.com/embedcode/slim-081711.css" rel="stylesheet" type="text/css">
            <style type="text/css">
                #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
                /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
                   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
            </style>
            <div id="mc_embed_signup">
            <form action="//bitcoinbulls.us9.list-manage.com/subscribe/post?u=4cd3b5ef9af4809c134c0c1f5&amp;id=7d02bf6bf5" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                <label for="mce-EMAIL">It’s nice to meet you! I’d love to let you know about my bitcoin investments. Enter your email below and I’ll send you the goods!</label>
                <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
                <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                <div style="position: absolute; left: -5000px;"><input type="text" name="b_4cd3b5ef9af4809c134c0c1f5_7d02bf6bf5" tabindex="-1" value=""></div>
                    <div class="clear"></div>
                    <button class="btn btn-lg btn-success" type="submit" >SIGN UP!</button>
                </form>
                </div>

            </div>
           </div>
        </div>
        {% assign myModal = 'included' %}
{% endif %}