<!DOCTYPE html>
<html lang="en">
<head itemscope itemtype="http://schema.org/WebSite">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{page.excerpt}}">
    {%if page.keywords %}<meta name="keywords" content ="{{page.keywords}}">{% endif %}
    <meta name="author" content="David Silva Smith">
    <link rel="shortcut icon" href="/images/favicons/favicon.ico">
    <link rel="apple-touch-icon" sizes="57x57" href="/images/favicons/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/images/favicons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/images/favicons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/images/favicons/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/images/favicons/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/images/favicons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/images/favicons/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/images/favicons/apple-touch-icon-152x152.png">
    <link rel="icon" type="image/png" href="/images/favicons/favicon-196x196.png" sizes="196x196">
    <link rel="icon" type="image/png" href="/images/favicons/favicon-160x160.png" sizes="160x160">
    <link rel="icon" type="image/png" href="/images/favicons/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="/images/favicons/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="/images/favicons/favicon-32x32.png" sizes="32x32">
    <link rel="canonical" href="{{ site.data.information.url }}{{ page.url|remove:'index.html' }}" itemprop="url">
    <link rel="alternate" href="{{ site.data.information.url }}{{ page.url|remove:'index.html' }}" hreflang="en-us">
    {% if site.data.information.gplus %}<link rel="publisher" href="https://plus.google.com/{{ site.data.information.gplus }}">{% endif %}
    {% if author.gplus %}<link rel="author" href="https://plus.google.com/{{ author.gplus }}">{% endif %}
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-TileImage" content="/images/favicons/mstile-144x144.png">
    <meta name="msapplication-config" content="/images/favicons/browserconfig.xml">
    <meta name="application-name" itemprop="name" content="Bitcoin Bulls">
    <meta name="apple-mobile-web-app-title" content="Bitcoin Bulls">
    <link rel="image_src" href="/images/bitcoin-bulls.png" />
    <meta property="og:title" content="{{page.title}} {{page.subtitle}}" />
    <meta property="og:url" content="{{site.data.information.url}}{{page.url}}" />
    {% if page.is_post %}
        <link rel="alternate" type="application/atom+xml" title="{{ site.data.information.name }} — Atom" href="{{ site.data.information.url }}/blog/feed.atom" />
        <meta property="og:image" content="{{site.data.information.url}}{{ page.image }}" />
        <meta property="og:description" content="{{page.excerpt}}" />
        {% else %}

        <meta property="og:image" content="{{site.data.information.url}}/images/bitcoin-bulls.png" />
        <meta property="og:description" content="Community for those who believe in and are invested in bitcoin's future." />
{% endif %}
    {{page.meta}}
    {% assign overwriteTitle = page.title %}
    {% if paginator %}
      {% assign overwriteTitle = page.title | append: ' Page ' | append: paginator.page %}
    {% endif %}
    <title>{{overwriteTitle}} {{page.subtitle}} </title>
    <link href='//fonts.googleapis.com/css?family=Montserrat%7CMuli' rel='stylesheet' type='text/css'>
    <link href="/css/main.css" rel="stylesheet" media="screen">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <link href="//cdn-images.mailchimp.com/embedcode/slim-081711.css" rel="stylesheet" type="text/css">
    <style type="text/css">
            #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
            /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
               We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
    </style>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>

<body>
<section class="site-nav">
    <header>
        <nav id="navigation">
            <a class="brand" href="/">
                <img src="{{ site.data.information.logo }}" alt="{{site.data.information.title}}">
            </a>
             {% assign url = page.url|remove:'index.html' %}
                        
                        {% for link in site.data.navigation %}
                        {% assign urlSize = link.url|size %}

                        <a href="{{link.url}}" title="{{link.text}}" {% if url contains link.url and urlSize > 2 %}class="active"{% endif %} {% if url == '/' and url == link.url %}class="active"{% endif %}>{{link.text}} </a>
                        
                        {% endfor %}

                        {% include request-signup-link.html param="Subscribe" %} 
        </nav>
        {% if site.data.information.tagline or site.data.information.product_url %}<nav class="tagline">
            {% if site.data.information.tagline %}<span>{{ site.data.information.tagline }}</span>{% endif %}
            {% if site.data.information.product_link %}<a href="{{ site.data.information.product_link }}" class="btn btn-outline">Learn More</a>{% endif %}
        </nav>{% endif %}
    </header>
</section>

{% if layout.includeHeader %}
 {% include {{layout.includeHeader}} %}
{% elsif page.includeHeader %}
 {% include {{page.includeHeader}} %}
{% endif %}

{% if layout.isSideBar %}
{{ content }}
{% else %}
  <main class="container">
    {{content}}
  </main>
{% endif %}

{% include signup-guts.html %}

<footer class="site-footer">
    <div class="container">
        &copy; {{ site.time | date: "%Y" }} 
        
        <nav>
            <a href="{{ site.data.information.url }}">{{ site.data.information.company }}</a> &middot;
            <a href="/blog/">Blog</a> &middot;
            {% if site.data.information.product_link %}<a href="{{ site.data.information.product_link }}">Hire Me</a> &middot; {% endif %}
            {% if site.data.information.about_link %}<a href="{{ site.data.information.about_link }}">My Story</a>{% endif %}
            <a href="/contact/">Contact Me</a>
        </nav>
        
        <nav class="social">
            {% if site.data.information.twitter %}
            <a href="https://twitter.com/{{ site.data.information.twitter }}" title="Follow on Twitter" target="_blank"><i class="fa fa-twitter fa-lg"></i></a>
            {% endif %}
            {% if site.data.information.facebook %}
            <a href="https://facebook.com/{{ site.data.information.facebook }}" title="Follow on Facebook" target="_blank"><i class="fa fa-facebook-square fa-lg"></i></a>
            {% endif %}
            
            {% include request-signup-link.html param='<i class="fa fa-envelope fa-lg" ></i>' %} 
            
            <a href="/blog/feed.atom" title="RSS Feed">
                <i class="fa fa-rss fa-lg"></i>
            </a>
        </nav>
    </div>
</footer>
    <script src="//code.jquery.com/jquery-2.1.3.min.js"></script>
    <script src="/scripts/custom.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
            <script type="text/javascript">
            var lsBaseURL = (("https:" == document.location.protocol) ? "https://tracker.leadsius.com/djs/" : "http://tracker.leadsius.com/djs/");
            document.write(unescape("%3Cscript src='" + lsBaseURL + "tracker.js?_k=6837e76ba06b10da36297eb61060331a40a094b9' type='text/javascript'%3E%3C/script%3E"));
        </script>
</body>
</html>
