---
layout: default
---

{{content}}

<div class="row">
  <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 bb-left-bar" style="height: auto;">
    
  {% for post in site.posts limit:5 %}
   {% include blog-post.html %}
  {% endfor %}

  </div>
  <div id="sidebar" class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
    <div style="margin-top:22px;">
      <img src="/images/branding/bitcoin-bulls-375x358.png" />
    </div>
      {% include timely.html %}
    <div class="panel panel-default">
      <div class="panel-heading text-center">
        <h3 class="panel-title">Recent Posts</h3>
      </div>
      <div class="panel-body">
        <ul>
         {% for post in site.posts limit:5 %}
           <li><a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a></li>
         {% endfor %} 
      </ul> 
    </div>
  </div>
  </div>
</div>

<!---
<div class="row">
    <div class="col-lg-4 fillable">
        <a href="/for-businesses/"><span class="link_fill"> </span></a>
        <h2><i class="fa fa-building"></i> For Businesses</h2>
        <p>Bitcoin is the cheapest, fastest, and safest way to take bitcoin. Learn how to never again worry about card not present fraud, chargebacks, and reaching a new audience.</p>
        <p><a class="btn btn-primary" href="/for-businesses/" role="button">Learn more &raquo;</a></p>
    </div>
    <div class="col-lg-4 fillable" >
        <a href="/for-developers/"><span class="link_fill"> </span></a>
        <h2><i class="fa fa-file-code-o"></i> For Developers</h2>
        <p>Bitcoin is the easiest way to accept and move money online. Instead of days or weeks it can take hours from starting a payment integration 
        	to accepting customer funds.</p>
        <p><a class="btn btn-primary" href="/for-developers/" role="button">Learn more &raquo;</a></p>
    </div>
    <div class="col-lg-4 fillable">
        <a href="/for-individuals/"><span class="link_fill"> </span></a>
        <h2><i class="fa fa-flag"></i> For Individuals</h2>
        <p>Bitcoin is the best form of money in existence. However USD is pretty darn good. You should care about bitcoin because it is potentially the best investment opportunity of your lifetime. One person spent $27 on Bitcoin. Four years later that investment had grown to over <strong>$500,000</strong> worth. Interested? I know I am.</p>
        <p><a class="btn btn-primary" href="/for-individuals/" role="button">Learn more &raquo;</a></p>
    </div>
</div>

-->
