---
layout: default
---

{% if page.contentFirst == 1 %}
  {{content}}
{% endif %}

<div class="row">
  <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 bb-left-bar" style="height: auto;">
    {% if page.contentFirst != 1 %}
      {{content}}
    {% endif %}

    {% if page.postsAfterContent > 0 %}
      {% for post in site.posts limit:page.postsAfterContent %}
       {% include blog-post.html %}
      {% endfor %}
    {% endif %}

    {% if page.includeJoin == 1 %}
      {% include join-the-herd.html %}
    {% endif %}    

  </div>
  <div id="sidebar" class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
    <div style="margin-top:22px;">
      <img src="/images/branding/bitcoin-bulls-375x358.png" />
    </div>
      {% include timely.html %}
    <div class="panel panel-default">
      <div class="panel-heading text-center">
        <h3 class="panel-title">Recent Posts</h3>
      </div>
      <div class="panel-body">
        <ul>
         {% for post in site.posts limit:5 %}
           <li><a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a></li>
         {% endfor %} 
      </ul> 
    </div>
  </div>
 {% if page.is_post %}
  <div class="panel panel-default">
      <div class="panel-heading text-center">
        <h3 class="panel-title">Other articles you may enjoy:</h3>
      </div>
      <div class="panel-body">
        <ul>
        {% for post in site.related_posts limit:5 %}
          <li><a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a></li>
        {% endfor %}
      </ul> 
    </div>
  </div>
  {% endif %}
  </div>
</div>
